* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

canvas {
	margin: 100px auto 0;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: ' '
}

.clearfix:after {
    clear: both
}

.top-controls {
	position: absolute;
	left: calc(50% - 400px);
	top: 49px;
	background: #eee;
}

.bottom-controls {
	position: absolute;
	left: calc(50% - 400px);
	top: 700px;
}

.bottom-controls .title {
	padding: 10px 0;
}

.bottom-controls__left,
.bottom-controls__right {
	margin-right: 30px;
	float: left;
}

.number,
.area {
	border: 1px solid #999;
	padding: 15px;
	display: inline-block;
	float: left;
	user-select: none;
}

.area {
	border-left: none;
}

.minus,
.plus {
	padding: 8px 15px;
	border-radius: 10px 0 0 10px;
	border: 1px solid #999;
	display: inline-block;
	background: #eee;
	font-size: 32px;
	color: #30539C;
	float: left;
	cursor: pointer;
	user-select: none;
	opacity: 0.7;
}

.minus:hover,
.plus:hover {
	opacity: 1;
}

.plus {
	border-radius: 0 10px 10px 0;
	border-left: none;
}

input {
	padding: 10px;
	margin-left: 15px;
	font-size: 20px;
	width: 100px;
	float: left;
}